{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login2.css' %}">
{% endblock %}

{% block content %}

<div class="modal__ct shadow-sm">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div id="logo">
        <img src="{% static 'img/quiction.png' %}">
    </div>
    <hr>
    {% if form.errors %}
        <p class="error__massage">ユーザー名またはパスワードが違います。</p>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    {{ form.username }}
    {{ form.password }}
    <hr>
    <button type="submit" class="form__submit">LOGIN</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script>
$(function() {
    $('input[name="username"]').attr({
        class: 'form-control',
        placeholder: 'Username',
        autocomplete: 'off',
    });

    $('input[name="password"]').attr({
        class: 'form-control',
        placeholder: 'Password',
        autocomplete: 'off',
    });
})
</script>
{% endblock %}