.container-fluid {
    margin-top: 60px;
}

.sheet__base {
    padding: 20px;
}

.sheet {
    background: #fff;
    /*left: 50%;*/
    padding: 40px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 50%;*/
    /*z-index: 1;*/
    /*margin: 20px;*/
}

h1 {
    text-align: center;
}

.__label {
    color: hsl(0,0%,50%);
}

.__information {
    position: absolute;
    left: 8em;
}

div#to__edit {
    text-align: right;
}

div#to__edit a {
    color: hsl(0,0%,50%);
    text-decoration: none;
    font-size: 0.9em;
}

div#to__edit a:hover {
    color: hsl(180,60%,50%);
}