{% extends "base.html" %}
{% load filter %}

{% block title %}お気に入り一覧{% endblock title %}

{% block content %}
    {% for favorite in favorites %}
        <h4 class="mt-4">{{ favorite.question.text }}</h4>
        {% if favorite.question.pk|votes_check:voted_questions %}
            {% for answer in favorite.question.choices.all %}
                <a href="{% url 'cms:vote' question_pk=favorite.question.pk choice_pk=answer.pk %}">{{ answer.choice }}</a>
            {% endfor %}
        {% else %}
            {% for answer in favorite.question.choices.all %}
                <p>{{ answer.choice }}</p>
            {% endfor %}
        {% endif %}
    <a href="{% url 'cms:like' favorite.question.pk %}" class="btn btn-secondary btn-sm">いいね！</a>
    {% endfor %}
{% endblock content %}