{% extends "base.html" %}
{% load filter %}
{% load static %}

{% block title %}質問一覧{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cms/mainpage.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="base row mt-1">
  {% for question, total in questions %}
      <div class="sheet col-lg-4">
          <div class="sheet-content shadow-sm rounded-lg">
            <div class="top-area">
              <span>user information</span>
                <span class="timer-wrapper mt-1">残り　<span class="timer"></span></span>
            </div>
            <div class="question-area mt-2 mb-3">
              <p class="question-text">{{ question.text }}</p>
            </div>
            <div id="{{ question.pk }}" class="choice-area">
                {% if question.pk|votes_check:voted_questions %}
{#                  <div class="btn-group-vertical" role="group">#}
                    {% for answer in question.choices.all %}
                        <a href="#" id="{{ answer.pk }}" class="choice choice-{{ question.pk }}">{{ answer.choice }}</a>
                    {% endfor %}
{#                  </div>#}
                {% else %}
                    {% for answer in question.choices.all %}
                        {% if answer.pk|your_vote:voted_choices %}
                            <div class="result-area" style="
                                    background:linear-gradient(90deg,
                                    hsla(180,60%,50%,1) 0%,hsla(180,60%,50%,1) {{ answer.vote_num|votes_rate:total }}%,
                                    hsla(180,100%,98%,1) {{ answer.vote_num|votes_rate:total }}%,hsla(180,100%,98%,1) 100%);
                            ">
                        {% else %}
                            <div class="result-area" style="
                                    background:linear-gradient(90deg,
                                    hsla(200,30%,80%,1) 0%,hsla(200,30%,80%,1) {{ answer.vote_num|votes_rate:total }}%,
                                    hsla(200,20%,98%,1) {{ answer.vote_num|votes_rate:total }}%,hsla(200,20%,98%,1) 100%);
                            ">
                        {% endif %}
                              <span class="choice__text">{{ answer.choice }}</span>
                              <span class="rate">{{ answer.vote_num|votes_rate:total }}%</span>
                            </div>
                    {% endfor %}
                {% endif %}
{#                <a href="{% url 'cms:like' question.pk %}" class="btn btn-secondary btn-sm">いいね！</a>#}
            </div>
          </div>
      </div>
  {% endfor %}
</div>
<div id="plus">
  <button class="btn btn-secondary rounded-circle">+</button>
</div>
</div>

<div class="form__modal">
    <div class="modal__bg"></div>
    <div class="modal__ct">
        <form id="create" method="post">
            <div id="deadline">
                <h6>Deadline</h6>
                <select class="form-control" name="day"><option value="" disabled selected>日</option></select>
                <select class="form-control" name="hour"><option value="" disabled selected>時</option></select>
                <select class="form-control" name="minute"><option value="" disabled selected>分</option></select>
            </div>
            <hr>

            <h5>Question</h5>
            {{ form.as_p }}

            <h5>Choices</h5>
            {{ choice_formset.management_form }}
                <div id="form-choice-area">
                {% for choice_form in choice_formset %}
                    {{ choice_form.as_p }}
                {% endfor %}
                </div>

            {% csrf_token %}
            <div id="add__area">
                <a href="#" id="add">+</a>
            </div>
            <hr>
            <button type="submit" class="form__submit">POST</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$(function() {
    $('label').hide();
    $('textarea').attr('placeholder', '質問を入力してください');
    $('input#id_choices-0-choice').attr('placeholder', '回答１');
    $('input#id_choices-1-choice').attr('placeholder', '回答２');

    for (let i = 0; i < 4; i++) {
        $('select[name="minute"]').append($('<option>').val(`${15*i}`).text(`${15*i}`).attr('size', '5'))
    }
    for (let i = 0; i < 24; i++) {
        $('select[name="hour"]').append($('<option>').val(`${1*i}`).text(`${1*i}`))
    }
    for (let i = 0; i < 7; i++) {
        $('select[name="day"]').append($('<option>').val(`${1*i}`).text(`${1*i}`))
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $('form#create').submit(function(e) {
        e.preventDefault();
        {#const choicesHtml = $('input[name^="choices"][type="text"]');#}
        {#var choicesList = [];#}
        {#choicesHtml.each(function() {#}
        {#const val = $(this).val();#}
        {#    choicesList.push(val);#}
        {# });#}
        {#const choices = choicesList.join('/');#}
        {#console.log(choices);#}

        const setChoicesHtml = $('input[name^="choices"][type="text"]');
        let setChoices = [];
        setChoicesHtml.each(function() {
            setChoices.push($(this).val())
        });
        setChoices = setChoices.filter(Boolean);

        if (setChoices.length >= 2) {
            $.ajax({
                'url': '{% url 'cms:form' %}',
                'type': 'POST',
                'data': $(this).serialize(),
                'beforeSend': function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                 }}
            }).done(function(response) {
                $('.form__modal').fadeOut();
                $('.container-fluid').attr('style', '');
                $('html, body').prop({scrollTop: pos});
                $('textarea').val('');
                const choicesHtml = $('input[name^="choices"][type="text"]');
                choicesHtml.each(function() {
                   $(this).val('');
                });
                $('div#form-choice-area').popover('dispose');

                const created = response.created;
                const problem = response.problem;
                console.log(created);
                console.log(problem);
            })
        } else {
            $('div#form-choice-area').popover({
                content: '質問は２つ以上必要です',
                placement: 'bottom',
            });
            $('div#form-choice-area').popover('show');
        }
    });

    var deadlineList = [];
    {% for deadline in deadlines %}
        var endTime = new Date('{{ deadline }}');
        deadlineList.push(endTime);
    {% endfor %}

    var localDeadlineList = [];
    {% for local in local_deadlines %}
        var localEndTime = new Date('{{ local }}');
        localDeadlineList.push(localEndTime);
    {% endfor %}

    var addZero = function(n) {
        return ('0' + n).slice(-2);
    };

    function countdownTimer(deadline, local, n) {
        var nowTime = new Date();
        if (nowTime > local) { //なぜかifではローカルタイムが考慮されない
            $('.timer').eq(n).text('expired');
        } else {
            var calc =  new Date(deadline - nowTime);//ここでは時間が合わせられる
            var date = calc.getDate() - 1 ? calc.getDate() - 1 + '日' : ''; //? = if
            var hours = calc.getHours() ? calc.getHours() + '時間' : '';
            var minutes = addZero(calc.getMinutes()) + '分';
            var seconds = addZero(calc.getSeconds()) + '秒';
            $('.timer').eq(n).text(`${date + hours + minutes + seconds}`);
        };
    }

    function repeater() {
        for (let i = 0; i < deadlineList.length; i++) {
            countdownTimer(deadlineList[i], localDeadlineList[i], i);
        }
    }
    setInterval(repeater, 1000);

    var loadedCount = 0;
    $('#plus button').click(function(e) {
        e.preventDefault();
        loadedCount += 1;

        let displayedQuestionsPk = [];
        $('div.choice-area').each(function() {
            const pk = $(this).attr('id');
            displayedQuestionsPk.push(pk);
        });
        const strDisplayedQuestionsPk = displayedQuestionsPk.join('/');

        $.ajax({
            'url': '{% url 'cms:add' %}',
            'type': 'GET',
            'data': {
                'loaded_count': loadedCount,
                'displayed': strDisplayedQuestionsPk,
            },
            'dataType': 'json'
        }).done(function(response) {
            const zeroCheck = response.not_zero;
            if (zeroCheck) {
                const questionPkList = response.question_pk_list;
                const textList = response.text_list;
                const choicesList = response.choices_list;
                const choicePksList = response.choice_pks_list;
                const ratesList = response.rates_list;
                const votedCheck = response.voted_check;
                const votedChoicePks = response.voted_choice_pks;

                for (let i = 0; i < questionPkList.length; i++) {
                    $('div.base').append(`
                        <div class="sheet col-lg-4">
                          <div class="sheet-content shadow-sm">
                            <div class="top-area">
                              <span>user information</span>
                                <span class="timer-wrapper mt-1">残り　<span class="timer"></span></span>
                            </div>
                            <div class="question-area mt-2 mb-3">
                              <p class="question-text">${textList[i]}</p>
                            </div>
                            <div id="${questionPkList[i]}" class="choice-area">
                            </div>
                          </div>
                        </div>
                    `);
                    if (votedCheck[i]) {
                        for (let j = 0; j < choicePksList[i].length; j++) {
                            $(`div#${questionPkList[i]}`).append(`
                                <a href="#" id="${choicePksList[i][j]}" class="choice choice-${questionPkList[i]}">${choicesList[i][j]}</button>
                            `)
                        }
                    } else {
                        for (let j = 0; j < choicePksList[i].length; j++) {
                            $(`div#${questionPkList[i]}`).append(`
                                <div class="result-area"  id="result__${choicePksList[i][j]}">
                                    <span class="choice__text">${choicesList[i][j]}</span>
                                    <span class="rate">${ratesList[i][j]}%</span>
                                </div>
                            `);
                            const eachResultArea = $(`#result__${choicePksList[i][j]}`);
                            if(votedChoicePks.indexOf(choicePksList[i][j]) !== -1 ) {
                                eachResultArea.css({
                                    'background': `linear-gradient(90deg,
                                    hsla(180,60%,50%,1) 0%,hsla(180,60%,50%,1) ${ratesList[i][j]}%,
                                    hsla(180,100%,98%,1) ${ratesList[i][j]}%,hsla(180,100%,98%,1) 100%)`
                                });
                            } else {
                                eachResultArea.css({
                                    'background': `linear-gradient(90deg,
                                    hsla(200,30%,80%,1) 0%,hsla(200,30%,80%,1) ${ratesList[i][j]}%,
                                    hsla(200,20%,98%,1) ${ratesList[i][j]}%,hsla(200,20%,98%,1) 100%)`
                                });
                            }
                        }
                    }
                }
            }else {
                $('#plus').empty();
            }
        })
    });

    // 後から追加した質問にも対応できる記述↓
    $(document).on('click', 'a.choice', function(e) {
        e.preventDefault();
        const selectedPk = $(this).attr('id');
        const questionPk = $(this).parents('div.choice-area').attr('id');
        const choiceArea = $(`div#${questionPk}`);
        const choices = $(`a.choice-${questionPk}`);

        $.ajax({
            'url': '{% url 'cms:vote' %}',
            'type': 'GET',
            'data': {
                'choice_pk': selectedPk,
                'question_pk': questionPk,
            },
            'dataType': 'json'
        }).done(function(response) {
            choiceArea.empty();
            const votesRateList = response.rates_list;

            for (let i = 0; i < votesRateList.length; i++) {
                const choiceText = choices.eq(i).text();
                const choiceId = choices.eq(i).attr('id');
                choiceArea.append(`
                      <div class="result-area"  id="result__${choiceId}">
                        <span class="choice__text">${choiceText}</span>
                        <span style="float: right">${votesRateList[i]}%</span>
                      </div>
                `);
                const eachResultArea = $(`#result__${choiceId}`);
                if (choiceId === selectedPk ){
                    eachResultArea.css({
                    'background': `linear-gradient(90deg,
                                    hsla(180,60%,50%,1) 0%,hsla(180,60%,50%,1) ${votesRateList[i]/2}%,
                                    hsla(180,100%,98%,1) ${votesRateList[i]/2}%,hsla(180,100%,98%,1) 100%)`,
                    'background-size': `200% 100%`,
                    'animation': 'graph 1s ease 1 forwards'
                    });
                } else {
                    eachResultArea.css({
                    'background': `linear-gradient(90deg,
                                    hsla(200,30%,80%,1) 0%,hsla(200,30%,80%,1) ${votesRateList[i]/2}%,
                                    hsla(200,20%,98%,1) ${votesRateList[i]/2}%,hsla(200,20%,98%,1) 100%)`,
                    'background-size': `200% 100%`,
                    'animation': 'graph 1s ease 1 forwards'
                    });
                }
            }
        })
    });

    var totalForms = $('input#id_choices-TOTAL_FORMS');
    var currentChoicesCount = parseInt(totalForms.val());
    $('a#add').click(function(e) {
        e.preventDefault();
        var setChoice = $('input.form-control');
        var name = setChoice.eq(1).attr('name').split('-');
        const partA = name[0];
        const partB = name[2];

        var extraChoice = $('<input>', {
            type: 'text',
            maxlength: setChoice.eq(1).attr('maxlength'),
            name: partA + '-' + currentChoicesCount + '-' + partB,
            id: 'id_' + partA + '-' + currentChoicesCount + '-' + partB,
            class: 'form-control',
            placeholder: `回答${currentChoicesCount+1}`,
        });
        extraChoice.css({
            'margin-bottom': '16px'
        });

        $('#form-choice-area').append(extraChoice);
        currentChoicesCount += 1;
        if (currentChoicesCount === 4) {
            $('div#add__area').remove();
        }
        totalForms.attr('value', currentChoicesCount);
    });

    $('#form-open').on('click',function(e){
        e.preventDefault();
        $('.form__modal').fadeIn();
        pos = $(window).scrollTop();
        $('.container-fluid').css({
            'position': 'fixed',
            'top': -1*pos
        })
    });
    $('.modal__bg').on('click',function(e){
        e.preventDefault();
        $('.form__modal').fadeOut();
        $('.container-fluid').attr('style', '');
        $('html, body').prop({scrollTop: pos});
        $('div#form-choice-area').popover('dispose');
    });
});
</script>
{% endblock %}